:host{
    width: 25%;
}
.column1{
    height: 100%;
    border-right: solid 2px black;
}
.container-logo{
    display:flex;
    justify-content:center;
}
.profil-box{
    display:flex;
    width:100%;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}
.avatar-box{
    background-color : #C645DD ; 
    height : 75px;
    width : 75px;
    border-radius: 50%;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .nav-box{
    padding-top: 10px;
  }
  .nav-box > div {
    padding : 10px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}
.nav-box > div:hover {
    cursor: pointer;
    background-color: rgb(164, 164, 168);
}
.nav-box > div > span{
    padding-right: 7px ;
    font-size: 40px;
}
.separateur{
    border:solid 1px gray;
}