<div class="column1">
    <div class="container-logo"> <h2>G<span style="color:green">A</span>BLER</h2> </div>
    <div class="profil-box" >
        <div class="avatar-box">
        </div>
        <h3>Loris</h3>
        <i class="arrow down"></i>
    </div>
    <div class="nav-box">
      <div class="" ><span class="material-symbols-outlined">home</span>Accueil</div>
      <div class=""><span class="material-symbols-outlined">language</span>Explore</div>
      <hr width="90%">
      <div class=""><span class="material-symbols-outlined">notifications</span>Notifications</div>
    </div>
</div>