<div class="slider-box">
    <div class="slider">
        <div class="info-user">
            <h2 class="citation white">"Les philosophes n'ont fait qu'interpréter le monde de différentes manières, ce qui importe, c’est de le transformer"</h2>
            <div class="bottom-slider">
                <div>
                    <h1 class="white">Terry Loris</h1>
                    <p class="white role">Fondateur - Developpeur</p>
                </div>
                <div class="slider-changer">
                    <div class="icon-slider"><i class="arrow left"></i></div>
                    <div class="icon-slider"><i class="arrow right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
