<div class="column3">
    <form method="get">
      <div class="searchbox">
        <input  class="searchbar" placeholder="Rechercher créateurs" type="text"/>
        <input class="searchbutton" type="button" value=" " />
      </div>
    </form>

    <h2>Suggestions</h2>
    <div class="createur-suggest" style="background-image: url('');">
      <div class="avatar-suggest"></div>
      <h2 class="nom-suggest">Nathim Richard</h2> 
    </div>

    <div class="createur-suggest" style="background-image: url('');">
      <div class="avatar-suggest"></div>
      <h2 class="nom-suggest">Yanis Houdier</h2> 
    </div>

    <div class="createur-suggest" style="background-image: url('');">
      <div class="avatar-suggest"></div>
      <h2 class="nom-suggest">Loris Terry</h2> 
    </div>
</div>