<div class="container">
    <h3> Tendance </h3>
    <h4> Les meilleurs Gabbles du moment...</h4>
    <div class="gabble">
      <div class="header-gabble">
          <div class="pp-user">
            <div class="image">

            </div>
          </div>
          <div class="user">
            <p> NOM PRENOM <br>Il y a 2 jours</p>
          </div>
          <div class="settings-user">
            <span class="material-symbols-outlined">
              more_vert
            </span>
          </div>
      </div>
    </div>
</div>