<div class="register-box">
    <div class="container-form">
        <form class="register-form" method="post">
            <h2>G<span style="color:green;">a</span>bbler</h2>
            <input class="champs" type="text" placeholder="Nom" />
            <input class="champs" type="email" placeholder="Email" />
            <input class="champs" type="password" placeholder="Mot de passe" />
            <input class="button-inscrire" type="submit" value="S'inscrire" />
            <div>
                <p>S'inscrire avec Google</p>
            </div>
            <p>Vous avez déja un compte <a>Se Connecter</a></p>
        </form>
    </div>
</div>
