.bck-container{
    height: 100% ;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main-container{
    height: 92% ;
    width:92%;
    background-color: rgb(242, 235, 235);
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid 2px black;
}
.column1{
    width: 20%;
    border-right: solid 2px black;
}
.column2{
    width : 60%;
    border-right: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px
}
.container-logo{
    display:flex;
    justify-content:center;
}
.profil-box{
    display:flex;
    width:100%;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}
.avatar-box{
    background-color : #C645DD ; 
    height : 75px;
    width : 75px;
    border-radius: 50%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .nav-box{
    padding-top: 10px;
  }
.nav-box > div {
    padding : 10px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}
.nav-box > div:hover {
    cursor: pointer;
    background-color: rgb(164, 164, 168);
}
.nav-box > div > span{
    padding-right: 7px ;
    font-size: 40px;
}
.separateur{
    border:solid 1px gray;
}
.box-connection{
    padding: 10px 0px 10px 0px;
    width: 80%;
    border-radius: 10px;
    border:solid 1px;
}
form{
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}
input{
    margin: 10px 0px 10px 0px;
}

.searchbox{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border:solid 1px gray;
}
.searchbutton{
    background-image: url("");
}
